* {
  box-sizing: border-box;
}

body {
  min-width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../public/images/background1.jpeg");
}

#prodImage {
  width: 70%;
  margin: 1rem;
  border-radius: 1rem;
  max-width: 400px;
}

ul {
  text-decoration: none;
}
ul li {
  font-weight: 500;
  display: inline;

}

p {
  color: #000000;
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px; 
  line-height: 24px; 
  margin: 0 0 24px; 
  text-align: justify; 
  text-justify: inter-word
}

h1 {
  color: transparent;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 9rem;
  letter-spacing: -1px;
  background-image: url('./assets/assets.gif');
  background-position-y: 7%;
  background-size: 640px;
  -webkit-background-clip: text;
}
h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 100;
}

#tag {
  padding: 16px 32px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  border: none;
  background-color: #e16c1e;
  border-radius: 35rem;
  cursor: pointer;
};

.btn {
  background-color: var(--background-color);
  color: #222;
  padding: .5em 1em;
  border: none;
  border-radius: 35rem;
  outline: none;
  position: relative;
  cursor: pointer;

  --background-color: #e16c1e;
  --border-size: 3px;
  --accent-color: rgb(255, 255, 255);
}

.btn.btn-border-pop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid var(--background-color);
  border-radius: 35rem;
  transition: top, left, right, bottom, 300ms ease-in-out;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
}

input[type=email], input[type=password], input[type=firstName], input[type=lastName]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



