* {
  box-sizing: border-box;
}

body {
  min-width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../public/images/background1.jpeg");
}

#prodImage {
  width: 70%;
  margin: 1rem;
  border-radius: 1rem;
  max-width: 400px;
}

ul {
  text-decoration: none;
}
ul li {
  font-weight: 500;
  display: inline;

}

p {
  color: #000000;
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px; 
  line-height: 24px; 
  margin: 0 0 24px; 
  text-align: justify; 
  text-justify: inter-word
}

h1 {
  color: transparent;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 8rem;
  font-kerning: 1;
  background-image: url('./assets/assets.gif');
  background-position: center;
  background-size: 500px;
  -webkit-background-clip: text;

}
h2 {
  font-weight: 400;
}

h3 {
  font-weight: 100;
}

#tag {
  padding: 16px 32px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  border: none;
  background-color: #f1b44b;
  border-radius: 35rem;
  cursor: pointer;
};

footer {
  transform: skewY(1.5deg);
  transform-origin: top left;
  min-height: 150px;
  margin-top: 50px;
}

footer p {
  transform: skewY(1.5deg);
}
